/* reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */
body {
  /* background-color: #ededed; */
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2em;
  /* color: red; */
}

h2 {
  font-size: 1.6em;
  /* color: red; */
}

h3 {
  font-size: 1.4em;
  /* color: red; */
}

h4 {
  font-size: 1.3em;
  /* color: red; */
}

h5 {
  font-size: 1.2em;
  /* color: red; */
}

p {
  font-size: 1em;
  /* color: blue; */
}

#layout.container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100vh;
  /* gap: 20px; */
}

#layout header {
  width: 100%;
}

#layout header nav {
  /* background-color: rgb(0, 145, 255); */
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  /* outline: 1px solid black; */
}

.logo {
  color: rgb(0, 145, 255);
}

.logo::after {
  content: " }";
  color: #333;
  font-weight: 500;
}

.logo::before {
  content: "{ ";
  color: #333;
  font-weight: 500;
}

#layout .nav-items {
  /* outline: 1px solid black; */
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
#layout .nav-items a {
  color: rgb(0, 145, 255);
  margin: 10px;
}

#layout main {
  background-color: #fefefe;
  /* border: 1px solid #cdcdcd; */
  padding: 20px;
  flex: 1;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}
#welcome {
  border: 1px solid #cacaca;
  border-radius: 8px;
  padding: 36px 24px;
}

#welcome h1,
#welcome p,
#welcome li {
  margin: 10px 0;
}

#welcome li {
  list-style: disc;
  margin-left: 30px;
  text-transform: capitalize;
}

.italics {
  /* color: red; */
  color: #333;
  font-style: italic;
}

.center-center {
  /* outline: 1px solid red; */
  /* height: 100%; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome .login-link {
  color: rgb(0, 145, 255);
  display: inline-block;
  margin: 10px;
  border: 1px solid rgb(0, 145, 255);
  border-radius: 4px;
  padding: 6px 10px;
  text-decoration: none;
  transition: 100ms ease-in-out;
}

#welcome .login-link:hover {
  background-color: #eee;
}
